
/* Estilos comunes */
.completed {
    text-decoration: line-through;
}
.exercise-label {
    display: flex;
    align-items: center;
}
.exercise-checkbox {
    margin-right: 10px;
}
.card {
    margin-bottom: 20px;
}
@media (max-width: 576px) {
    .card {
    width: 100%;
    }
}
/* Estilos para el modo claro */
body.light-mode {
    background-color: #f8f9fa;
    color: #000;
}
.light-mode .card {
    background-color: #fff;
}
/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}
.card.dark-mode {
    background-color: #444;
    color: #fff;
}
/* Estilos para el pie de página */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
.footer-text {
    margin: 0;
    font-size: 14px;
    color: #6c757d;
}
.footer-link {
    color: #6c757d;
}
@media (max-width: 576px) {
    .card {
    width: 100%;
    }
}
/* Estilos para el navbar */
.navbar-logo {
    height: 30px;
    margin-right: 10px;
}