body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 30px;
  }

  #rutina {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
  }

  #rutina h2 {
    margin-bottom: 15px;
  }

  #rutina ul {
    list-style-type: none;
    padding-left: 0;
  }

  #rutina li {
    margin-bottom: 10px;
  }
  .completed {
    text-decoration: line-through;
}
.exercise-label {
    display: flex;
    align-items: center;
}
.exercise-checkbox {
    margin-right: 10px;
}
.card {
    margin-bottom: 20px;
}
@media (max-width: 576px) {
    .card {
    width: 100%;
    }
}
/* Estilos para el modo claro */
body.light-mode {
    background-color: #f8f9fa;
    color: #000;
}
.light-mode .card {
    background-color: #fff;
}
/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}
.card.dark-mode {
    background-color: #444;
    color: #fff;
}
/* Estilos para el pie de página */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
.footer-text {
    margin: 0;
    font-size: 14px;
    color: #6c757d;
}
.footer-link {
    color: #6c757d;
}
@media (max-width: 576px) {
    .card {
    width: 100%;
    }
}
/* Estilos para el navbar */
.navbar-logo {
    height: 30px;
    margin-right: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

i.fas.fa-info-circle {
  cursor: pointer;
  color: blue;
}